.sunburst {
  margin: 20px;
  border: solid 3px transparent;
  flex: 1;
  display: flex;
}

.sunburstOver {
  border: dashed 3px #aaa;
  border-radius: 10px;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
}

.toaster {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
